{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div>
        <div>
            <h1> Mon compte</h1>
            <div>Mon identifiant : {{ app.user.email }}</div>
            <div>Mon identifiant : {{ app.user.firstname}}</div>

        </div>
    </div>


{% endblock %}