{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
    <div class="box-title-account">
        <h1> Mon compte</h1>
    </div>
    <div class="box-infos-user-account">
        <p class="txt-user-account">Bienvenue <span class="userName-profil">{{ app.user.firstname}} !</span></p>
    </div>
    <div class="box-infos-profil-user">
        <div class="infos-pts-account">
            <p class="number-pts-account">Vos points: <span class="colored-pts-account">{{ app.user.xp }}</span></p>
        </div>
        <div class="infos-pts-account">
            <p class="number-pts-account text-p colored-pts-account"><span class="text-dark">Votre niveau :</span> {{ level }}</p>
        </div>
    </div>
    <div class="box-recompences">
        <div class="box-recompence-dispo">
            <p class="txt-recompences">Bravo pour vos actions en faveur de l'environnement!</p>
            <p class="txt-recompenses-2">Tao vous offre...</p>
            <p class="txt-recompenses-access">20% de réduction sur la boutique Tao</p>
        </div>
        <div class="box-recompence-no-dispo">
            <p class="txt-recompenses-2">Prochain palier: 20000</p>
            <p class="txt-recompenses-access">Des billets gratuits pour visiter un musée orléanais</p>
        </div>
    </div>
    {% include 'include/_footer.html.twig' %}
{% endblock %}