<div class="box-footer-actions">
    <div class="align-middle">
        <p class="align-link-footer"> <a href="{{ path('trip_index') }}" class="link-footer-action"><img src="{{ asset('build/map-marker-alt-solid.png') }}" height="50 "/></a></p>
        <p class="align-link-footer"><a href="{{ path('app_profile') }}" class="link-footer-action"><img src="{{ asset('build/user-alt-solid.png') }}" height="50 "/></a></p>
    </div>
</div>