<div class="box-footer-actions">
    <div class="align-middle">
        <p class="align-link-footer"> <a href="#" class="link-footer-action">Itinéraire</a></p>
        <p class="align-link-footer"><a href="#" class="link-footer-action">Profil</a></p>
        <p class="align-link-footer"><a href="#" class="link-footer-action">Carte</a></p>
    </div>
</div>