<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('trip_index') }}"><img src="https://i.postimg.cc/nzpMTh0f/Tao.png" alt="logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
                {% if app.user %}
                    <div class="row">
                    <a class="nav-link p-0" href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger mr-2 deco-navbar">Se deconnecter</button>
                        </a><a href="{{ path('app_profile') }}"><img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                                                                     alt="avatar image" height="40"></a></div>
                {% else %}
                    <a class="nav-link p-0" href="{{ path('app_login') }}"><button type="button" class="btn btn-success mr-2">Connexion</button>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                             alt="avatar image" height="35"></a>
                {% endif %}
            </li>

        </ul>
    </div>
</nav>

