{{ dump(journeys) }}

{% for key, journey in journeys %}
    <h2>Voyage {{ key }}:</h2>
    <p>Co2: {{ journey.co2_emission.value }} gEC</p>
    <p>Temps : {{ journey.durations.total / 60}} min</p>

{% endfor %}