{% extends 'base.html.twig' %}

{% block title %}Les scores dans votre ville{% endblock %}

{% block body %}
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
    <main>
        <div class="box-title-score">
            <h1>Meilleurs scores "verts"</h1>
        </div>
        <div class="box-table-score">
            <div class="table-score">
                <ul>
                    {% for user in users %}
                        <li class="player">{{ user.firstname }}</li>
                        <li class="score-player">{{ user.xp }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock %}