{% extends 'base.html.twig' %}

{% block title %}Les scores dans votre ville{% endblock %}

{% block body %}
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
    <main>
        <div class="box-title-score">
            <h1>Meilleurs scores "verts"</h1>
        </div>
        <table class="box-table-score">
            <div class="table-score">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Scores</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="player">{{ user.firstname }}</td>
                        <td class="player">{{ user.lastname }}</td>
                        <td class="score-player">{{ user.xp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </table>
    </main>

{% endblock %}