{% extends 'base.html.twig' %}

{% block title %}Les scores dans votre ville{% endblock %}

{% block body %}
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
    <main>
        <div class="box-title-score mb-5">
            <h1>Meilleurs scores <span class="text-primary">"verts"</span></h1>
        </div>
        <table class="box-table-score m-auto">
            <div class="table-score ">
                <thead class="border-bottom">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Scores</th>
                </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="player">{{ user.firstname }}</td>
                        <td class="player">{{ user.lastname }}</td>
                        <td class="score-player text-secondary">{{ user.xp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>
        </table>
        <img src="{{ asset('build/ville-verte.jpg') }}" alt="">
    </main>


{% endblock %}