<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TAO'sé{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
