{% extends 'base.html.twig' %}

{% block body %}
    <div class="box-logo-home-tao">
        <img src="https://upload.wikimedia.org/wikipedia/fr/1/13/Logo_TAO_Orl%C3%A9ans_M%C3%A9tropole.png" alt="Tao Orléans" class="logo-tao-home"/>
    </div>
    <div class="box-title-home mb-3">
        <h1>TAO'sé</h1>
    </div>

    <div class="box-user-home-connect">
        {% if app.user %}

        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
         alt="avatar image" height="70">
        <div class="box-deconnect-home">
        <a class="nav-link p-0" href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger mr-2">Se deconnecter</button>
        </a><a href="{{ path('app_profile') }}"></a></div>
{% else %}
    <p class="txt-connect-home">Pour continuer, connectez-vous à votre compte</p>
    <div class="box-img-avatar-home-connect">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
         alt="avatar image" height="70">
    </div>
    <a class="nav-link p-0" href="{{ path('app_login') }}"><span class="btn btn-success">Connexion</span></a>

    <p class="txt-connect-home">Pas encore de compte? Cliquez sur le bouton ci dessous</p>

    <div class="button-create-account-home">
        <a class="nav-link p-0" href="{{ path('app_register') }}">
            <button type="button" class="btn btn-success">Créer un compte</button>
        </a>
    </div>
{% endif %}
    </div>
{% endblock %}